:root{
    --body-color: rgba(233, 237, 242, 1);
    --form-color: rgba(255, 255, 255, 1);
    --heading-color: rgba(43, 54, 116, 1);
    --selection-blue: rgba(67, 24, 255, 1);
    --secondary: rgba(143, 155, 186, 1);
    --broken-border-color: rgba(178, 186, 208, 1);
    --red-star: rgba(255, 24, 24, 1);
    --warning-box-color: rgba(253, 244, 209, 1);
    --height-border-color: rgba(182, 187, 199, 1);
}
html,body{
    margin: 0;
    padding: 0;
}
.body-container{
    background-color: var(--body-color);
}
/* .form-body{
    background-color: aqua;
} */
.form-sub{
    background-color: var(--form-color);
}
.dm-sans-700 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.dm-sans-500 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.dm-sans-400 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.form-sub-h3{
    color: var(--heading-color);
    font-size: 24px;
}
.image-input-field{
    border: 3px dashed var(--broken-border-color);
}
.upload-icon{
    color: var(--selection-blue);
}
.upload-text{
    color: var(--selection-blue);
    font-size: 16px;
}
.upload-format{
    color: var(--secondary);
    font-size: 12px;
}
.red-star{
    color: var(--red-star);
}
/* .salutaion-and-name{
    background-color: aqua;
}
.col-bg-1{
    background-color: blue;
} */
input[type="radio"]{
    appearance: radio !important;
    -webkit-appearance: radio !important;
    accent-color: var(--selection-blue) !important;
    background-image: none !important;
}
.warning-box{
    background-color: var(--warning-box-color);
    border-radius: 5%;
}
.alert-heading{
    font-size: 16px;
}
.alert-text{
    font-size: 14px;
}
.person-height{
    border: 2px solid var(--height-border-color);
    padding: 5% 10%;
    border-radius: 25%;
}
.color-selection{
    height: 70%;
}
input[type="checkbox"]{
    appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    background-image: none !important;
}
.accept{
    font-size: 14px;
}